<div class="dashboard-container">
  <header class="dashboard-header">
    <h1 class="neon-title">Central de <span>Viagens</span></h1>
    <p class="subtitle">Acompanhe os planejamentos das suas viagens.</p>
  </header>

  <div *ngIf="isLoading()" class="loading-state">
    <div class="neon-spinner"></div>
    <span>Conectando ao banco de dados..</span>
  </div>

  <div *ngIf="!isLoading() && savedTrips().length === 0" class="empty-state card-dark">
    <p>Você ainda não tem nenhum planejamento salvo.</p>
    <button routerLink="/search" class="btn-neon">Começar Novo Planejamento</button>
  </div>

  <div *ngIf="!isLoading() && savedTrips().length > 0" class="trips-grid">
    <div *ngFor="let trip of savedTrips()" class="trip-card card-dark">

      <div class="card-header">
        <div class="flag-wrapper">
          <img [src]="trip.flagUrl" [alt]="trip.destination">
        </div>
        <div class="destination-info">
          <h3>{{ trip.destination }}</h3>
          <span class="iata">{{ trip.countryCode }}</span>
        </div>
      </div>

      <div class="card-body">
        <div class="progress-section">
          <div class="progress-label">
            <span>Progresso da Meta</span>
            <strong class="text-cyan">{{ getProgress(trip) | number:'1.0-0' }}%</strong>
          </div>
          <div class="progress-bar-bg">
            <div class="progress-bar-fill" [style.width.%]="getProgress(trip)"></div>
          </div>
        </div>

        <div class="finance-info">
          <div class="info-row">
            <span class="label">Meta Total:</span>
            <span class="value">{{ trip.financialGoalBrl | currency:'BRL' }}</span>
          </div>
          <div class="info-row">
            <span class="label">Aporte Mensal:</span>
            <span class="value text-purple">{{ trip.monthlyContributionBrl | currency:'BRL' }}</span>
          </div>
        </div>

        <div *ngIf="trip.itinerary && trip.itinerary.length > 0" class="itinerary-badge">
          {{ trip.itinerary.length }} {{ trip.itinerary.length === 1 ? 'local' : 'locais' }} no roteiro
        </div>

        <div class="date-badge">
          <span class="badge-title">DATA ESTIMADA</span>
          <span class="badge-date">{{ trip.estimatedTravelDate | date:'MMMM / yyyy':'':'pt-BR' }}</span>
        </div>

        <div class="card-actions">
          <button (click)="editTrip(trip)" class="btn-action edit">
            Editar
          </button>
          <button (click)="deleteTrip(trip._id)" class="btn-action delete">
            Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
