<div class="profile-container">
  <header class="profile-header">
    <h1 class="neon-title"> Configurações da
 <span>conta</span></h1>
  </header>

  <div class="profile-grid">
    <section class="card-dark profile-card">
      <h3 class="card-title">Dados da Conta</h3>

      <div *ngIf="userData(); else loadingData" class="user-info">
        <div class="info-group">
          <label>Nome Completo</label>
          <p class="highlight">{{ userData().name }}</p>
        </div>

        <div class="info-group">
          <label>E-mail de Acesso</label>
          <p class="highlight">{{ userData().email }}</p>
        </div>
      </div>

      <ng-template #loadingData>
        <p class="text-cyan">Carregando dados do usuário...</p>
      </ng-template>
    </section>

    <section class="card-dark profile-card">
      <h3 class="card-title">Segurança</h3>

      <div class="security-form">
        <div class="form-group">
          <label for="oldPass">Senha Atual</label>
          <input
            type="password"
            id="oldPass"
            [(ngModel)]="oldPassword"
            placeholder="Digite a senha atual"
            class="form-input">
        </div>

        <div class="form-group">
          <label for="newPass">Nova Senha</label>
          <input
            type="password"
            id="newPass"
            [(ngModel)]="newPassword"
            placeholder="Digite a nova senha"
            class="form-input">
        </div>

        <button (click)="changePassword()" class="btn-neon">
          Atualizar Senha
        </button>

        <div *ngIf="message()"
             class="feedback-msg"
             [class.error]="isError()"
             [class.success]="!isError()">
          {{ message() }}
        </div>
      </div>
    </section>
  </div>
</div>
