<div class="card-dark calculator-wrapper">

  <header class="calc-header">
    <h3 class="card-label">Investimento</h3>
    <div class="cdi-badge">
      <span>Rendendo</span>
      <input type="number" [value]="indexPercentage()" (input)="onInput($event, 'index')" class="cdi-input">
      <span>% do CDI</span>
    </div>
  </header>

  <div class="input-grid">
    <div class="form-group">
      <label>Aporte Inicial (R$)</label>
      <input type="text" [value]="currentSavings()" (input)="onInput($event, 'savings')" class="neon-input" placeholder="0,00">
    </div>
    <div class="form-group">
      <label>Aporte Mensal (R$)</label>
      <input type="text" [value]="monthlyContribution()" (input)="onInput($event, 'contribution')" class="neon-input" placeholder="0,00">
    </div>
  </div>

  @if (monthsToGoal() !== Infinity && monthsToGoal() > 0) {
  <div class="projection-panel">

    @if (redemptionDetails()) {
    <section class="redemption-details">
      <span class="section-title">Projeção de Rendimento:</span>

      <div class="detail-row highlight">
        <span>Valor Líquido Projetado:</span>
        <strong class="text-cyan">{{ redemptionDetails()?.netRedemption | currency:'BRL' }}</strong>
      </div>

      <div class="detail-row">
        <span>Rendimento Acumulado:</span>
        <span class="text-green">+ {{ (redemptionDetails()!.grossInterest - redemptionDetails()!.totalIR) | currency:'BRL' }}</span>
      </div>

      <div class="detail-row">
        <span>Tributação (IRRF) {{ redemptionDetails()?.irRatePercentage }}%:</span>
        <span class="text-muted">- {{ redemptionDetails()?.totalIR | currency:'BRL' }}</span>
      </div>
    </section>
    }

    <footer class="achievement-info">
      <h4 class="time-to-goal">Meta alcançada em <span>{{ monthsToGoal() }} meses</span>!</h4>
      <p class="target-date">Data estimada: <strong>{{ travelDate() | date:'MMMM / yyyy':'':'pt-BR' }}</strong></p>
    </footer>

  </div>
  }
</div>
