<div class="auth-container">
  <div class="auth-card card-dark">

    <div class="auth-header">
      <div class="brand-icon">
        <img src="/logo.svg" alt="NextDestination Logo">
      </div>
      <h2 class="auth-title">Crie sua <span>conta</span></h2>
      <p class="auth-subtitle">Comece a planejar suas viagens hoje mesmo.</p>
    </div>

    <form #regForm="ngForm" (submit)="regForm.valid && handleRegister()" class="auth-form">

      <div class="form-group">
        <label for="name">Nome Completo</label>
        <input
          type="text"
          id="name"
          [(ngModel)]="name"
          name="name"
          #nameRef="ngModel"
          required
          minlength="3"
          placeholder="Como quer ser chamado?"
          [class.is-invalid]="nameRef.invalid && nameRef.touched"
          class="form-input">

        @if (nameRef.invalid && nameRef.touched) {
          <small class="error-text">O nome deve ter pelo menos 3 letras.</small>
        }
      </div>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          #emailRef="ngModel"
          required
          email
          placeholder="seu@email.com"
          [class.is-invalid]="emailRef.invalid && emailRef.touched"
          class="form-input">

        @if (emailRef.invalid && emailRef.touched) {
          <small class="error-text">Insira um e-mail válido.</small>
        }
      </div>

      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          #passRef="ngModel"
          required
          minlength="6"
          placeholder="••••••••"
          [class.is-invalid]="passRef.invalid && passRef.touched"
          class="form-input">

        @if (passRef.invalid && passRef.touched) {
          <small class="error-text">A senha deve ter pelo menos 6 caracteres.</small>
        }
      </div>

      @if (errorMessage()) {
        <div class="backend-error">
          {{ errorMessage() }}
        </div>
      }

      <button
        type="submit"
        class="btn-neon w-full"
        [disabled]="regForm.invalid || isLoading()">
        {{ isLoading() ? 'Criando conta...' : 'Cadastrar agora' }}
      </button>

    </form>

    <div class="auth-footer">
      <span>Já tem uma conta?</span>
      <a routerLink="/login" class="text-cyan">Faça login</a>
    </div>

  </div>
</div>
